@import 'bulma';

.navHeaderSpan{
	margin-right: 20px;
}

.contactContainer{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contactContainerA {
	display: flex;
	align-items: center;
}

.photoContainer {
    margin: 20px;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    overflow: hidden;
}

.delete {
	margin-right: 10%;
}

a {
	color: #69707A;
	&:hover{
		color: #97CD76;
	}
}

.detailHero{
	display: flex;
	justify-content: center;
}

.detailHeroPhoto {
	width: 128px;
	height: 128px;
	border-radius: 100%;
	overflow: hidden;
}

.contactDetailContainer{
	div{
		padding: 10px;
		border-bottom: 1px solid lightgray;
	}
}

.contactData{
	margin-left: 10px;
}

.heroContainer {
	position: relative;
}

.backarrow {
	position: absolute;
	left: 20px;
	color: white;
}

.homeTitle {
	margin-left: 20px;
}

.layoutTitle {
	font-size: 40px;
}
