<div class="homePageContainer">
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title homeTitle">
          Contacts List
        </h1>
      </div>
    </div>
  </section>
  <div class="listContainer" ng-repeat="contact in vm.contacts">
    <div class="contactContainer">
      <a class="contactContainerA" href="/#/details/{{contact._id}}">
        <div class="photoContainer">
          <img ng-src="{{contact.photo}}">
        </div>
        <div class="contactNameContainer">
          {{ contact.name }}
        </div>
      </a>
      <button class="delete" ng-click="vm.deleter(contact)"></button>
    </div>
  </div>
</div>