<section class="hero is-success">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-right">
          <span class="nav-item navHeaderSpan">
            <a class="button is-success is-inverted" href="https://github.com/WilliamJohnsonJr">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>WilliamJohnsonJr</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title layoutTitle">
        Angular Contacts
      </h1>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a class="nav-item is-tab" href="/#/">Home</a></li>
          <li><a class="nav-item is-tab" href="/#/add">Add Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div ui-view></div>